@use "variables";

@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex_space_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin cta_button($bg: variables.$principal_color, $bg_hover: variables.$principal_hover, $color: variables.$light_color) {
    @include flex_center;
    width: auto; height: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $bg;
    color: $color;
    cursor: pointer;
    transition: .2s;
    font-size: 11pt;
    text-decoration: none;
    user-select: none;

    &:hover {
        background-color: $bg_hover;
    }
}

@mixin code_img {
    @include flex_center;
    position: absolute;
    top: 120vh;
    right: -200px;
    width: 50%; height: auto;
    z-index: 0;
    opacity: .9;
    
    img {
        position: absolute;
        user-select: none;

        &:nth-child(1) {
            animation: girar 180s linear infinite;
        }

        &:nth-child(2) {
            animation: girar 240s linear infinite;
        }
    }
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }    
}

@mixin social_media_icon($size_a: 30px, $size_svg:26px, $hover_animation: true) {
    @include flex_center;
    background-color: variables.$light_low_contrast;
    width: $size_a; height: $size_a;
    text-decoration: none;
    border-radius: 50px;
    transition: .1s;

    svg{
        width: $size_svg; height: $size_svg;
    }

    @if $hover_animation {
        &:hover {
            opacity: 0.7;
            transform: scale(0.97);
        }
    }
}

@mixin logo($text_color: variables.$dark_color, $span_color: variables.$principal_color) {
    width: fit-content;
    font-size: 12pt;
    font-weight: 500;
    line-height: 20px;
    margin-right: 10px;
    color: $text_color;

    span {
        font-weight: 500;
        color: $span_color;
    }
}