$light_color: #EDEDED;
$light_low_contrast: #FFFFFF;

$principal_color: #106BA2;
$principal_hover: #004D7B;

$secondary_color: #C3A289;
$secondary_hover: #A37C5A;

$dark_color: #222222;
$dark_low_contrast: #3F4146;
