@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {color: #0e0d25; padding: 0; margin: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
body {
    background-color: #e1e1e1;
}

body[on-dark-mode] {animation: content-dark-mode .6s forwards;}
body[on-light-mode] {animation: content-light-mode .6s forwards;}

@keyframes content-dark-mode {
    0% {background-color: #e1e1e1;}
    100% {background-color: #0e0d25;}
}

@keyframes content-light-mode {
    0% {background-color: #0e0d25;}
    100% {background-color: #e1e1e1;}
}

.dark-mode {
    position: fixed; top: 50px; right: 70px;
    display: flex; align-items: center; justify-content: center;
}

.dark-mode .light svg {
    width: 40px; height: 40px; margin-bottom: 0px;
    margin-left: -5px; fill: #f2f2f2;
}

.dark-mode .dark, .dark-mode .light {position: absolute; cursor: pointer;}
.dark-mode .light {display: none; opacity: 0;}
.dark-mode .dark svg {width: 30px; height: 30px;}

.dark-mode .button[opacity-zero] {
    animation: opacity-zero .3s forwards;
    animation-iteration-count: 1;
}

.dark-mode .button[opacity-one] {
    animation: opacity-one .3s forwards;
    animation-iteration-count: 1;
}

@keyframes opacity-zero {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes opacity-one {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.clima {
    margin: 10px auto; text-align: center; font-size: 30pt;
    color: #0e0d25; transition: 1s;
}

@keyframes font-colors {
    0% {color: #0e0d25;}
    1000% {color: #f2f2f2;}
}

.content {
    background-color: #1295ec; margin: 50px auto;
    border: 1px solid #4fb9ff; box-shadow: 0 0 15px #064c7ac2;
    display: flex; align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%; border-radius: 10px;
    padding: 10px; max-width: 400px;
}

.temperatura p {
    border-radius: 15px;
    font-size: 50pt;
    font-weight: 500;
}

.cidade {
    margin-top: -20px;
    font-weight: 400;
}

.line {
    display: flex; border: 1px solid #064c7ac2;
    border-radius: 5px; background-color: #d2d0d094;
    width: 80%; margin: 10px auto;
    height: 31px; padding: 0; box-shadow: 0 0 5px #0b0b13;
    display: flex; align-items: center; transition: 1s;
}

.line .info {color: inherit;}

.icon {
    width: 24px; height: 24px; align-items: center;
    display: flex; justify-content: center; 
    margin: 5px;
}

.humidity .icon {background: url('icons/humidity.png') center center no-repeat;}
.weather .icon  {background: url('icons/sun.png') center center no-repeat;}
.humidity .icon {background: url('icons/humidity.png') center center no-repeat;}

.carregando .loading_img {
    background: url("icons/rotate.png") center center no-repeat;
    width: 70px; height: 70px;
    animation: rotate 2s forwards;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}