@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

html, body {
  width: 100%;
  scroll-behavior: smooth;
  background-color: #EDEDED;
}

main {
  width: 100%;
  height: auto;
  position: relative;
}
main section {
  width: 100%;
  min-height: 80vh;
  padding: 100px;
  position: relative;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas: "title right";
}
main section .section_title {
  width: 70%;
  height: fit-content;
  grid-area: title;
  border-top: 2px solid black;
  position: sticky;
  top: 100px;
  padding-bottom: 40px;
}
main section .section_title h2 {
  font-weight: 500;
  font-size: 25pt;
  color: #222222;
  position: relative;
  z-index: 1;
}
main section .section_title span {
  font-weight: 500;
  text-wrap: nowrap;
  position: absolute;
  top: -15px;
  left: -5px;
  z-index: 0;
  font-size: 50pt;
  width: auto;
  color: #FFFFFF;
  opacity: 0.5;
}
main section .right {
  grid-area: right;
  width: 100%;
}
main section .right p.description {
  margin-bottom: 20px;
  font-weight: 300;
}
main section .right p.description span {
  font-weight: 500;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  background-color: rgba(237, 237, 237, 0.7176470588);
  backdrop-filter: blur(5px);
}
nav .left, nav .right {
  display: flex;
  align-items: end;
}
nav .left .logo {
  width: fit-content;
  font-size: 12pt;
  font-weight: 500;
  line-height: 20px;
  margin-right: 10px;
}
nav .left .logo span {
  font-weight: 500;
  color: #106BA2;
}
nav .left ul {
  display: flex;
  height: 100%;
}
nav .left ul li {
  list-style: none;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
  font-weight: 400;
  font-size: 10pt;
  padding: 0 10px;
}
nav .left ul li:hover {
  color: #004D7B;
}
nav .right .social_media {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  gap: 5px;
}
nav .right .social_media a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.1s;
}
nav .right .social_media a svg {
  width: 26px;
  height: 26px;
}
nav .right .social_media a:hover {
  opacity: 0.7;
  transform: scale(0.97);
}
nav .right .contato {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #106BA2;
  color: #EDEDED;
  cursor: pointer;
  transition: 0.2s;
  font-size: 11pt;
  margin-left: 10px;
  text-decoration: none;
}
nav .right .contato:hover {
  background-color: #004D7B;
}

section#inicio {
  height: 100vh;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#inicio .left {
  width: 50%;
}
section#inicio .left span {
  font-size: 24pt;
  font-weight: 400;
  color: #106BA2;
}
section#inicio .left h1 {
  font-size: 50pt;
  font-weight: 500;
  color: #222222;
  margin-top: -20px;
}
section#inicio .left p {
  font-weight: 400;
}
section#inicio .left .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 200px;
  flex-direction: column;
  position: fixed;
  left: 20px;
  bottom: 20px;
  gap: 5px;
  z-index: 1000;
}
section#inicio .left .buttons img {
  width: 44px;
  height: auto;
}
section#inicio .left .buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 44px;
  height: 44px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.1s;
}
section#inicio .left .buttons a svg {
  width: 38px;
  height: 38px;
}
section#inicio .left .buttons a:hover {
  opacity: 0.8;
  transform: scale(0.97);
}
section#inicio .code_img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120vh;
  right: -200px;
  width: 50%;
  height: auto;
  z-index: 0;
  opacity: 0.9;
}
section#inicio .code_img img {
  position: absolute;
}
section#inicio .code_img img:nth-child(1) {
  animation: girar 180s linear infinite;
}
section#inicio .code_img img:nth-child(2) {
  animation: girar 240s linear infinite;
}
section#inicio .right {
  width: auto;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 100px;
}
section#inicio .right a {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  margin-top: 20px;
  transition: 0.2s;
  text-decoration: none;
  color: #000000;
}
section#inicio .right a span {
  margin-right: 5px;
  color: #106BA2;
}
section#inicio .right a:hover {
  color: #004D7B;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section#about_me .container {
  padding-top: 70px;
}
section#about_me .container .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
section#about_me .container .icon img {
  max-width: 140px;
  max-height: 40px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
section#about_me .container .icon p {
  font-weight: 300;
  width: 70%;
}

section#hard_skills ul {
  list-style: none;
  padding-top: 50px;
}
section#hard_skills ul li {
  margin-bottom: 5px;
  font-weight: 300;
}
section#hard_skills ul li span {
  font-weight: 500;
}
section#hard_skills .icons_container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding-top: 50px;
}
section#hard_skills .icons_container .github svg {
  width: 35px;
  height: 35px;
}
section#hard_skills .icons_container svg {
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
